@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1>Error</h1>
    <p>При обработке вашего запроса возникли следующие ошибки:</p>
    <ul>
        @foreach (var key in ViewData.ModelState.Keys)
        {
            foreach (var error in ViewData.ModelState[key].Errors)
            {
                <li>@error.ErrorMessage</li>
            }
        }
    </ul>
</div>
