@{
    ViewData["Title"] = "Confirmation";
}

<h1>Order Confirmation</h1>

<p>Your order has been successfully placed. Thank you!</p>

<!-- Дополнительные детали о заказе, например, номер заказа, сумма, адрес доставки и т. д. -->

<p>Order details:</p>

<!-- Здесь можно вывести информацию о заказанных товарах, адресе доставки и т. д. -->
